page-reporte-scanners {

    signature-pad{
        canvas{
    border: 1px dashed #333333;
        }
    }
    
    }
    
        .toastSucces{
            > div{
                background-color:#32db64!important;
            }
            }
    
            .toastError{
                > div{
                    background-color:rgb(209, 71, 71)!important;
                }
                }
                
    
                